source/trunk/swifts/swifts-loader/src/main/resources/META-INF/schema/server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://zeronote.org.cn/swift/configure" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zeronote.org.cn/swift/configure" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Server">
		<xs:annotation>
			<xs:documentation>Server配置文件</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="port" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>关闭端口</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="shutdown" type="xs:string">
				<xs:annotation>
					<xs:documentation>关闭命令</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
